$letter-color: red;
$word-color: blue;
$font-stack: Helvetica, Arial, sans-serif;

.App 
{
  text-align: center;
  align-content: center;
  align-items: center;
  align-items: center;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-stack
}

h1 {
  font-size: 16em;
  color: $letter-color;
  padding: 3px;
  margin-top: 15px;
  margin-bottom: 5px;
  line-height: .80em;
  font-family: $font-stack;
  }


h2 { 
  font-size: 4em;
  margin:0px;
  font-size: 2em;
  color: $word-color;
  padding: 0em;
}

.Info-Row 
{
  align-items: left;
  align-content: left;
  margin-left: .5em;
  margin-top: 3em;
}
.Info-icon 
{
  margin:.5em;
}

.Subtle-button {
  margin-top:3em;
  margin-left:.25em;
  margin-right:.25em;
  border-radius: .5em;
  border:0px;
  border-style: none;
}

.Footer {
  margin-top:20px;
  padding:5px;
}


#IconContainer {
  height:130px;
  font-size: 150px; 
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 10px;
}